In [68]:
import pandas as pd

In [69]:
file= "Resources/purchase_data.csv"

purchase_data= pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [70]:
# Display the total number of players
total_players=len(purchase_data["SN"].value_counts())
total_players= pd.DataFrame({"Total Players": [total_players]})
total_players

   Total Players
0            576

In [71]:
# Run basic calculations to obtain number of unique items, average price, etc
unique_items= len((purchase_data["Item ID"]).unique())
average_price= (purchase_data["Price"]).mean()
total_purchases= (purchase_data["Purchase ID"]).count()
total_revenue= (purchase_data["Price"].sum())

# Create a summary data frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Purchase Price": [average_price],
                          "Total Number of Purchases": [total_purchases],
                          "Total Revenue": [total_revenue]})
# Display the summary data frame
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [72]:
# Group by gender
gender_stats = purchase_data.groupby("Gender")

# Count the SN by gender
total_count_gender= gender_stats.nunique()["SN"]

#Percentage of Players
percentage_of_players = total_count_gender/total_players

# Create Data Frame
gender_demo= pd.DataFrame({"Percentage of Players": [percentage_of_players],
                         "Total Count": [total_count_gender]})
gender_demo.index.name = None

gender_demo

,Percentage of Players,Total Count
0,Female Male Other / Non-Disclosed Total ...,Gender Female 81 Male ...

In [45]:
# Purchase count by gender
purchase_count = gender_stats["Purchase ID"].count()

# Average Purchase Price (by gender)
average_purchase_count = gender_stats["Price"].mean()

# Total Purchase Value (by gender)
purchase_value = gender_stats["Price"].sum()

# Average Purchase Total per person (by gender)
average_purchase_per_person = purchase_value/total_players

# Create a DataFrame
purchase_gender_df = pd.DataFrame ({"Purchase Count": purchase_count, 
                                  "Average Purchase Price": average_purchase_count,
                                  "Total Purchase Value": purchase_value,
                                  "Average Total Purchase per Person": average_purchase_per_person})
purchase_gender_df= purchase_gender_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase per Person"]]
purchase_gender_df.head()

ValueError: Shape of passed values is (4, 4), indices imply (3, 4)

In [35]:
# Establish bins for Ages
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
group_names= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]

# Categorize the exisitng players using the age bins (Hint: use cut)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels= group_names)
purchase_data

# Calculate the number and percentages by age groups
age_grouped= purchase_data.groupby("Age Group")

count_by_age= age_grouped["SN"].nunique()

percent_by_age= (count_by_age/total_players) *100

# Create a summary data table
age_demo= pd.DataFrame({"Percentage of Players by Age": [percent_by_age],
                        "Total Count": [count_by_age]})
age_demo.head()

,Percentage of Players by Age,Total Count
0,10-14 15-19 20-24 25-29 30-34 35-40 4...,Age Group <10 17 10-14 22 15-19 1...

In [36]:
# Bin the Purchase Data DataFrame by Age
purchase_count_by_age = age_grouped["Purchase ID"].count()

# Obtain Purchase Count, average purchase price, avergae purchase total, etc.
average_price_per_age= age_grouped["Price"].mean()

total_purchase_value= age_grouped["Price"].sum()

average_purchase_per_person= total_purchase_value/total_players

# Create a summary data table
age_demo_price= pd.DataFrame({"Purchase Count": [purchase_count_by_age],
                             "Average Purchase Price": [average_price_per_age],
                             "Total Purchase Value": [total_purchase_value],
                             "Average Total Purchase per Person": [average_purchase_per_person]})
age_demo_price.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Age Group <10 23 10-14 28 15-19 1...,Age Group <10 3.353478 10-14 2.956429 ...,Age Group <10 77.13 10-14 82.78 15...,10-14 15-19 20-24 25-29 30-34 35-40 4...

In [21]:
# Top Spenders
spending_stats= purchase_data.groupby("SN")

# Purchase count
spending_name= spending_stats["Purchase ID"].count()

# Average Purchase Price
average_price_name= spending_stats["Price"].mean()

# Total Purchase Value
purchase_value_name= spending_stats["Price"].sum()

# Create a summary data table
top_spenders= pd.DataFrame({"Purchase Count": [spending_name],
                           "Average Purchase Price": [average_price_name],
                           "Total Purchase Value": [purchase_value_name]})
# Sort in descending order
spenders= top_spenders.sort_values(["Total Purchase Value"], ascending=False)
spenders.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
0,SN Adairialis76 1 Adastirin33 1 Aeda9...,SN Adairialis76 2.280000 Adastirin33 ...,SN Adairialis76 2.28 Adastirin33 4.48...

In [26]:
# Most Popular Items
items= purchase_data[["Item ID", "Item Name", "Price"]]

item_stats= items.groupby(["Item ID", "Item Name"])

# Purchase Count
purchase_count= item_stats["Price"].count()

# Purchase value
purchase_value= item_stats["Price"].sum()

# Item Price
item_price= purchase_value/purchase_count

# Create a summary data table
popular_items= pd.DataFrame({"Purchase Count": [purchase_count],
                               "Item Price": [item_price], 
                               "Total Purchase Value": [purchase_value]})
# Sort in descending order
popular_items= popular_items.sort_values(["Purchase Count"], ascending=False)

popular_items.head()

,Purchase Count,Item Price,Total Purchase Value
0,Item ID Item Name ...,Item ID Item Name ...,Item ID Item Name ...

In [31]:
# Most Profitable Items

# Sort the Popular Items Data Frame by Purchase Value in Descending Order
popular_items= popular_items.sort_values(["Total Purchase Value"],
                                        ascending=False)
popular_items.head()

,Purchase Count,Item Price,Total Purchase Value
0,Item ID Item Name ...,Item ID Item Name ...,Item ID Item Name ...